<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       default-autowire="byType"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>

    <bean id="beanFactoryProcessor" class="com.yang.study.bean.LogBeanFactoryProcess"/>
    <bean id="beanProcessor" class="com.yang.study.bean.LogBeanPostProcess"/>
    <bean id="hello" class="com.yang.study.bean.Hello" init-method="init" destroy-method="destorys">
        <property name="name" value="fuyang"/>
    </bean>
    <bean id="world" class="com.yang.study.bean.World">
        <property name="word" value="world"/>
        <property name="hello" ref="hello"/>
    </bean>
</beans>