<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       default-autowire="byName"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>

    <bean id="rpcHandler" class="com.yang.study.handler.RpcHandlerImpl">
        <property name="serviceRegister" ref="serviceRegister"/>
    </bean>

    <bean id="serviceRegister" class="com.yang.study.register.ServiceRegisterImpl">
        <property name="zkClientService" ref="zkClientService"/>
    </bean>

    <bean id="hellofacade" class="com.yang.study.impl.HelloFacadeImpl"/>

    <bean id="transPortService" class="com.yang.study.network.TransPortServiceImpl">
        <property name="rpcHandler" ref="rpcHandler"/>
        <property name="executorService">
            <bean class="java.util.concurrent.ThreadPoolExecutor">
                <constructor-arg name="corePoolSize" value="5"/>
                <constructor-arg name="maximumPoolSize" value="5"/>
                <constructor-arg name="keepAliveTime" value="10"/>
                <constructor-arg name="unit" value="SECONDS"/>
                <constructor-arg name="workQueue" ref="workQueue"/>
            </bean>
        </property>
    </bean>

    <bean id="workQueue" class="java.util.concurrent.LinkedBlockingQueue"/>

    <bean id="rpcBeanPostProcessor" class="com.yang.study.register.RpcBeanPostProcessor">
        <property name="serviceRegister" ref="serviceRegister"/>
    </bean>

    <bean id="zkClientService" class="com.yang.study.zk.ZkClientServiceImpl" init-method="init">
        <property name="address" value="127.0.0.1:2181"/>
    </bean>
</beans>