<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yang.study.dao.userDao">

    <resultMap id="user" type="com.home.entities.User">
        <result column="user_name" property="userName" />
        <result column="age" property="age" />
    </resultMap>

    <select id="getUserByName" resultMap="user">
		select user_name,age from user;
	</select>

    <insert id="insert">

    </insert>
</mapper>
